header {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  font-family: 'Cormorant SC', serif;

}
.headerTitle {
  flex: 1;
}
.selectCountries {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-right: 30px;
}
.selectCountries select {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}
